# Ignore everything in the data folder
data/

# Ignore environment files
.env

# Ignore nzbdav config directory
apps/nzbdav/config/

# Ignore altmount config directory
apps/altmount/config/

# Ignore authelia config directory
apps/authelia/config/
